body {
  margin:0;
  padding:0;
  z-index: -5;
  width:0;
  height:0;
  font-family:'Courier New', Courier, monospace;
}
img{
  position:absolute;
  -user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#room {
  margin:0;
  width:1000px;
  height:600px;
  z-index: -5;
  overflow: hidden;
  position: relative;
}
#wall-div {
  width:1000px;
  z-index: -1;
}
#wood-floor {
  width:1000px;
  z-index:3
}
#exit-door {
  width: 200px;
  top:82px;
  left:400px;
  z-index:7
}
#floor {
  position: absolute;
  bottom:150px;
  width:1000px;
  z-index: 0;
}

#wood-floor-divider {
  z-index: 1;
}

#inspect-menu {
  background-color: rgb(217, 217, 217);
  opacity: 0.7;
  z-index:30;
  width: 985px;
  left: 5px;
  top: 5px;
  height: 120px;
  position:absolute;
  border-radius: 15px;
  visibility: hidden;
}
#inspect-menu p{
  margin: 10px;
  font-size:22px;
}
#screen-mask {
  width: 1000px;
  height: 600px;
  position: absolute;
  z-index: 80;
  visibility: hidden;
}