body {
  margin:0;
  padding:0;
  z-index: -5;
  width:0;
  height:0;
}
img{
  position:absolute;
  -user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#room {
  margin:0;
  width:1000px;
  height:600px;
  z-index: -5;
  overflow: hidden;
  position: relative;
}
#wall-div {
  width:1000px;
  z-index: -1;
}
#wood-floor {
  width:1000px;
  z-index:3
}
#exit-door {
  width: 200px;
  top:82px;
  left:400px;
  z-index:7
}
#floor {
  position: absolute;
  bottom:150px;
  width:1000px;
  z-index: 0;
}

#wood-floor-divider {
  z-index: 1;
}