body {
  background-color:purple;
  margin:0;
  padding:0;
}
img{
  position:absolute
}
#room {
  margin:0;
  background-color: pink;
  width:1000px;
  height:600px;
  overflow: hidden;
  position: relative;
}
#wood-wall {
  width:1000px;
}
#wood-floor {
  width:1000px;
}
#exit-door {
  width: 200px;
  top:82px;
  left:400px;
  z-index:7
}
#floor {
  position: absolute;
  bottom:150px;
  width:1000px;

}